* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000 /*couleur texte du site*/
}

h1,h2,h3,h4,h5,h6{
    font-weight:500;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.gauche {
    max-width: 50%;
}

.droite {
    max-width: 50%;
    padding-left: 100px;
    justify-content: center;

}

.header {
    background-color: lightcyan;
    height: 50px;

}
.header a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.nav {
    font-size: 18px;
    justify-content: space-evenly;
    padding-bottom: 20px;

}

h1, h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.mb-3 input {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 4px;

}

.mb-3 p {
    padding-bottom: 10px;

}

.mb-4 input {
    margin-bottom: 25px;
    width: 600px;
    height: 30px;
    border-radius: 4px;
}

.mb-4 {

}

.buttonleft button {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 4px;
}

.gauche button {
    width: 600px;
    height: 30px;
}
.gauche button:hover{
    color:green;
    border:solid green 1px;
}
.droite {
    width: 700px;

}

.list{
    width: 600px;
}

.list p {
    border-style: solid;
    border-width: 1px;
    border-color: black;

    padding:10px;
}
.list span{
    background-color: green;
    float: right;
    color:white;
    border-radius: 4px;
}
.total p{

    float:right;

}
#email{
    width: 300px;
    height: 30px;
}
buttonright {
    display: flex;

}